<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>APPLY</title>
</head>

  <h2>APPLY</h2><br>
    <a href="/">index</a>
    <a href="/about">about</a>
    <a href="/contact">contact</a>
    <a href="/apply">apply</a>
    <form method="POST" action="/apply">
      <input type="submit" value="apply">
    </form>

<body>
</body>
</html>