<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CONTACT</title>
</head>

  <h2>CONTACT</h2><br>
    <a href="/">index</a>
    <a href="/about">about</a>
    <a href="/contact">contact</a>
    <a href="/apply">apply</a>

<body>
</body>
</html>