<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>INDEX</title>
</head>
  <h2>INDEX</h2><br>
    /*<link href="../" rel="stylesheet" type="text/css"></link>*/
    <nav>
      <ul>
        <li><a href="/">index</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/apply">apply</a></li>
      </ul>
    </nav>
<body>
</body>
</html>